.app-container {
    padding-bottom: 4rem;
}

.app-container .link-text {
    color: #007AFF;
}

.app-container .warning-text {
    color: #FE7D02;
}

.app-container .task-container {
    width:15.4rem;
    background:rgba(255,255,255,1);
    border-radius:0.43rem;
    font-size:0.6rem;
    color: #000000;
}

.app-container .task-container .title {
    min-width: 3.2rem;
}

.app-container .task-container .over {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}

.app-container .task-container .status {
    width: 100%;
    height: 1.71rem;
    border-bottom: 0.04rem solid #F2F2F2;
    text-align: center;
    line-height: 1.71rem;
    padding: 0 0.68rem;
    color:rgba(0,0,0,1);
}

.app-container .task-container .content {
    line-height:1rem;
    padding: 0.68rem;
    color: #000000;
}

.app-container .info-container {
    width: 100%;
    background:rgba(255,255,255,1);
    margin-top: 0.68rem;
    font-size:0.6rem;
    line-height:0.85rem;
}

.info-container .item {
    padding: 0.85rem 0.68rem;
    border-bottom: 0.04rem solid #EDEDED;
}

.upload-container {
    position: relative;
}

.info-container .upload {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
}

.img-container {
    width: 100%;
    background:rgba(255,255,255,1);
}

.img-container .cover {
    width:2.56rem;
    height:3.41rem;
    margin: 0 0 0.43rem 0.46rem;
}

.img-container img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.img-container .delete {
    width:2.56rem;
    height:3.41rem;
    font-size: 0.51rem;
}

.img-container .delete-img {
    width:0.89rem;
    height:0.85rem;
    margin: 0.3rem 0;
}