.app-container {
  font-size:0.6rem;
  padding-bottom: 4rem;
}

.app-container .bg {
  width: 100%;
  height:7.68rem;
}

.app-container .link-text {
  color: #007AFF;
  background:rgba(255,255,255,1);
}

.app-container .item {
  width: 100%;
  background:rgba(255,255,255,1);
  padding: 0.85rem 0.68rem;
  border-bottom: 0.04rem solid #EDEDED;
}

.item input, .item textarea {
  border: unset;
}

.upload-container {
  position: relative;
}

.upload-container .upload {
  opacity: 0;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.img-container {
  width: 100%;
  background:rgba(255,255,255,1);
}

.img-container .cover {
  width:2.56rem;
  height:3.41rem;
  margin: 0 0 0.43rem 0.3rem;
}

.img-container img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.img-container .delete {
  width:2.56rem;
  height:3.41rem;
  font-size: 0.51rem;
}

.img-container .delete-img {
  width:0.89rem;
  height:0.85rem;
  margin: 0.3rem 0;
}